<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Fsn战队——指尖演绎舞蹈</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <script src="/layui/layui.js"></script>
</head>
<body class="layui-layout-body ">
<div class="layui-layout  layui-layout-admin layui-bg-orange">
    <div class="layui-header ">
        <div class="layui-logo ">Fsn战队</div>
    </div>
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree "  lay-filter="test">
                <li class="layui-nav-item">
                    <a href="./error.html" target="option">全部队员</a>
                </li>
                <li class="layui-nav-item">
                    <a th:href="@{/FVF/}" target="option">4V4分组</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="layui-body" id="LAY_app_body">
        <div class="layadmin-tabsbody-item layui-show"></div>
        <div style="padding: 15px;height:100%">
            <iframe id="option" name="option" th:src="@{/FVF/}" style="overflow: visible;" scrolling="no" frameborder="no"  width="100%" height="100%"></iframe>
        </div>
        <div class="layui-footer layui-bg-black">
            © 2020 Fsn战队
        </div>
    </div>

    <script>
        //JavaScript代码区域
        layui.use('element', function(){
            var element = layui.element;
        });
    </script>
</div>

</body>
</html>
