<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <script charset="UTF-8" src="/layui/layui.js"></script>
    <style>
        .layui-form{
            display: inline-block;
            width: 20%;
            margin-top: -20px;
        }
        .layui-form2{
            display: inline-block;
            width: 35%;
            margin-top: 50px;
            margin-left: 50px;
        }
        .layui-form2 .layui-form-item{
            margin-bottom: 180px;
        }
        .layui-form2 .layui-input-inline{
            width: 80%;
        }
        .layui-form1{
            display: inline-block;
            width: 33%;
            margin-left: 50px;
        }
        .layui-form1 .layui-form-item{
            margin-bottom: 80px;
        }
        .layui-form1 .layui-input-inline{
            width: 100%;
        }
        .layui-form{
            font-size:0;
        }
        .layui-form2 .layui-table td{
            height: 30px;
        }
        .layui-form1 .layui-table td{
            height: 30px;
        }
    </style>
</head>
<body>

<form action="/FVF/dg" class="layui-form" method="post">
    <div class="layui-form-item">
        <div class="layui-input-inline">
            <table class="layui-table" >
                <thead>
                <tr>
                    <th>分组名单</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><div class="layui-input-inline">
                        <input type="text" name="per0" th:value="${pointsList.get(0).username}" placeholder="请输入ID" autocomplete="off" class="layui-input">
                    </div></td>
                </tr>
                <tr>
                    <td><div class="layui-input-inline">
                        <input type="text" name="per1" th:value="${pointsList.get(1).username}" placeholder="请输入ID" autocomplete="off" class="layui-input">
                    </div></td>
                </tr>
                <tr>
                    <td><div class="layui-input-inline">
                        <input type="text" name="per2" th:value="${pointsList.get(2).username}" placeholder="请输入ID" autocomplete="off" class="layui-input">
                    </div></td>
                </tr>
                <tr>
                    <td><div class="layui-input-inline">
                        <input type="text" name="per3" th:value="${pointsList.get(3).username}" placeholder="请输入ID" autocomplete="off" class="layui-input">
                    </div></td>
                </tr>
                <tr>
                    <td><div class="layui-input-inline">
                        <input type="text" name="per4" th:value="${pointsList.get(4).username}" placeholder="请输入ID" autocomplete="off" class="layui-input">
                    </div></td>
                </tr>
                <tr>
                    <td><div class="layui-input-inline">
                        <input type="text" name="per5" th:value="${pointsList.get(5).username}" placeholder="请输入ID" autocomplete="off" class="layui-input">
                    </div></td>
                </tr>
                <tr>
                    <td><div class="layui-input-inline">
                        <input type="text" name="per6" th:value="${pointsList.get(6).username}" placeholder="请输入ID" autocomplete="off" class="layui-input">
                    </div></td>
                </tr>
                <tr>
                    <td><div class="layui-input-inline">
                        <input type="text" name="per7" th:value="${pointsList.get(7).username}" placeholder="请输入ID" autocomplete="off" class="layui-input">
                    </div></td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" class="layui-btn" value="分组">
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</form>

<!--红队分组-->

<form action="/FVF/checkScore" class="layui-form1" method="post">
    <div class="layui-form-item">
        <div class="layui-input-inline">
            <table class="layui-table" >
                <thead>
                <tr>
                    <th>红队</th>
                </tr>
                </thead>
                <tbody>
                <div th:each="item:${redTeam}">
                    <tr>
                        <td><div th:text="${pointsList.get(item).username}"></div></td>
                    </tr>
                </div>
                </tbody>
                <thead>
                <tr>
                    <th>蓝队</th>
                </tr>
                </thead>
                <tbody>
                <div th:each="item:${blueTeam}">
                    <tr>
                        <td><div th:text="${pointsList.get(item).username}"></div></td>
                    </tr>
                </div>
                </tbody>
                <tr>
                    <td>
                        <span style="float: left;text-align: center;height: 100%;padding-top:10px">红蓝比分:</span>
                        <div style="width:60%;float:left;margin-left: 20px;">
                            <select name="score" required lay-verify="required" class="layui-input" autocomplete="off">
                                <option value="20">红:蓝 2:0</option>
                                <option value="02">红:蓝 0:2</option>
                                <option value="21">红:蓝 2:1</option>
                                <option value="12">红:蓝 1:2</option>
                            </select>
                        </div>
                        <input type="submit" class="layui-btn" style="float: right;">
                    </td>
                </tr>
            </table>
        </div>
    </div>
</form>
<!--    积分表-->
<form action="/FVF/clearAll" class="layui-form2" method="post">
    <div class="layui-form-item">
        <div class="layui-input-inline">
            <table class="layui-table" >
                <thead>
                <tr>
                    <th colspan="2">积分表</th>
                </tr>
                </thead>
                <tbody>
                <!--                使用thymeleaf的遍历列表-->
                <div th:each="item:${pointsList}">
                    <tr>
                        <td><div th:text="${item.username}"></div></td><td><div th:text="${item.username!=null?item.points:''}"></div></td>
                    </tr>
                </div>
                <tr>
                    <td colspan="2"><input type="submit" value="全部清空" class="layui-btn"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</form>

<script>
    //Demo
    layui.use('form', function(){
        var form = layui.form;
        //监听提交
        // form.on('submit(formDemo)', function(data){
        //     layer.msg(JSON.stringify(data.field));
        //     return false;
        // });
    });
</script>
<script type="text/javascript" charset="UTF-8">
    layui.use('laydate', function(){
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '#date' //指定元素
        });
    });
</script>
</body>
</html>
