<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<script type="text/javascript" src=./jquery-1.8.0.min.js></script>
<script type="text/javascript" src=./layer-v3.1.1/layer/layer.js></script>  <!--弹层文件-->

	<title>Fsn战队——指尖演绎舞蹈</title>
    <meta charset="UTF-8">
    <meta name="keywords" content="">
	<meta name="description" content="">
	<meta content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=0" name="viewport">
	<link rel="stylesheet"
		  href="layui/css/layui.css"
		  media="all">
	<link rel="stylesheet"
		  href="layuiadmin/style/admin.css"
		  media="all">
	<link rel="stylesheet"
		  href="layuiadmin/style/login.css"
		  media="all">
	<script src="js/jquery.js"></script>
   <!-- <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">-->
	<link rel="stylesheet" href="./login/css/style.css"/>
    <!-- 提示升级高级浏览器操作 -->
    <style>
    	.ie-content{  position: fixed; left: 0; top: 0; right: 0; bottom:0; background:#fff; z-index: 1000;}
		.ie-content-bj{ width: 1000px; height: 380px; position: fixed; left: 50%; top: 36%; margin:-190px 0 0 -500px; background:url(img/sj.jpg) no-repeat; }
		.ie-list{ padding:168px 0 0 371px; }
		.ie-list a{ margin-right: 80px; }

		#particles-js {
            width: 100%;
            height: 100%;
            /* background: #000; */
            background-size: cover;
            background-position: 50% 50%;
            background-repeat: no-repeat;
        }
    </style>
</head>
<body class="body_bj">   <!--见login/css/style.css-->
<div id="particles-js">
	<form th:action="@{/}" name="form1" onsubmit="return check()" method="post">
		<div class="layadmin-user-login layadmin-user-display-show"
			 id="LAY-user-login" style="display: none;">

			<div class="layadmin-user-login-main">
				<div class="layadmin-user-login-box layadmin-user-login-header">
					<h2>Fsn战队</h2>
					<p>登录</p>
				</div>
				<div
						class="layadmin-user-login-box layadmin-user-login-body">
					<div class="layui-form-item">
						<label
								class="layadmin-user-login-icon layui-icon layui-icon-username"
								for="login-username"></label> <input type="text" name="username"
																	 id="login-username" lay-verify="required" placeholder="用户名"
																	 class="layui-input" value="">
					</div>
					<div class="layui-form-item">
						<label
								class="layadmin-user-login-icon layui-icon layui-icon-password"
								for="login-password"></label> <input type="password"
																	 name="password" id="login-password" lay-verify="required"
																	 placeholder="密码" class="layui-input" value="">
					</div>

					<div class="layui-form-item">
						<input align="center" class="layui-btn layui-btn-fluid" type="submit" value="登录">
					</div>

				</div>
			</div>

			<div class="layui-trans layadmin-user-login-footer">

				<p>
					<a href="http://www.beian.gov.cn"></a>
				</p>

			</div>

		</div>

	</form>
	<div style="width:300px;margin:0 auto; padding:20px 0;">
		<p>
		<a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=41020402000032" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
		<p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;"><img src="beian.png" style="float:left;"/> 豫公网安备 41020402000032号</p>
		</p>
		<p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">豫ICP备2020025287号-1</p></a>
		</p>
	</div>
<!--[if lt IE 8]>
<div class="ie-content">
	<div class="ie-content-bj">
	    <div class="ie-list">
		    <a href="http://www.google.cn/intl/zh-CN/chrome/browser/"><img src="img/sj1.jpg" alt=""></a>
			<a href="http://www.firefox.com.cn/"><img src="img/sj2.jpg" alt=""></a>
			<a href="http://chrome.360.cn/"><img src="img/sj3.jpg" alt=""></a>	
	    </div>
	</div>
</div>
<![endif]-->

<script src="./layui/layui.js"> </script>
<script type="text/javascript" src="./js/particles.min.js"></script>
<!--<script>
	layui.use(['jquery', 'layer'], function () {
		var $ = layui.jquery,
			layer = layui.layer;
	});
</script>-->
<script type="text/javascript">
	particlesJS('particles-js',       //实现粒子特效
		{
			"particles": {
				"number": {
					"value": 40,  //数量
					"density": {
						"enable": true,
						"value_area": 800
					}
				},
				"color": {
					"value": "#ffffff"
				},
				"shape": {
					"type": "circle",
					"stroke": {
						"width": 0,
						"color": "#000000"
					},
					"polygon": {
						"nb_sides": 5
					},
					"image": {
						/*"src": "img/github.svg",*/
						"width": 100,
						"height": 100
					}
				},
				"opacity": {
					"value": 0.3,
					"random": false,
					"anim": {
						"enable": false,
						"speed": 1,
						"opacity_min": 0.1,
						"sync": false
					}
				},
				"size": {
					"value": 3,
					"random": true,
					"anim": {
						"enable": false,
						"speed": 40,
						"size_min": 0.1,
						"sync": false
					}
				},
				"line_linked": {
					"enable": true,
					"distance": 150,
					"color": "#ffffff",
					"opacity": 0.4,
					"width": 1
				},
				"move": {
					"enable": true,
					"speed": 1,
					"direction": "none",
					"random": false,
					"straight": false,
					"out_mode": "out",
					"bounce": false,
					"attract": {
						"enable": false,
						"rotateX": 600,
						"rotateY": 1200
					}
				}
			},
			"interactivity": {
				"detect_on": "canvas",
				"events": {
					"onhover": {
						"enable": true,
						"mode": "grab"
					},
					"onclick": {
						"enable": false,
						"mode": "push"
					},
					"resize": true
				},
				"modes": {
					"grab": {
						"distance": 150,
						"line_linked": {
							"opacity": 1
						}
					},
					"bubble": {
						"distance": 400,
						"size": 40,
						"duration": 2,
						"opacity": 8,
						"speed": 3
					},
					"repulse": {
						"distance": 200,
						"duration": 0.4
					},
					"push": {
						"particles_nb": 4
					},
					"remove": {
						"particles_nb": 2
					}
				}
			},
			"retina_detect": false
		}
	);

</script>
</div>
</body>

</html>