<html>
<head>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <script charset="UTF-8" src="/layui/layui.js"></script>
</head>
<body>
<h1>4V4分组</h1>
<form action="./../book/addBook" class="layui-form" method="post">

    <div class="layui-form-item">
        <div class="layui-input-inline">
            <table class="layui-table" >
                <thead>
                <tr>
                    <th>分组名单</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><div class="layui-input-inline">
                            <input type="text" name="bookAuthor" required  lay-verify="required" placeholder="请输入书籍作者" autocomplete="off" class="layui-input">
                        </div></td>
                </tr>
                <tr>
                    <td><div class="layui-input-inline">
                        <input type="text" name="bookAuthor" required  lay-verify="required" placeholder="请输入书籍作者" autocomplete="off" class="layui-input">
                    </div></td>
                </tr>
                <tr>
                    <td><div class="layui-input-inline">
                        <input type="text" name="bookAuthor" required  lay-verify="required" placeholder="请输入书籍作者" autocomplete="off" class="layui-input">
                    </div></td>
                </tr>
                <tr>
                    <td><div class="layui-input-inline">
                        <input type="text" name="bookAuthor" required  lay-verify="required" placeholder="请输入书籍作者" autocomplete="off" class="layui-input">
                    </div></td>
                </tr>
                <tr>
                    <td><div class="layui-input-inline">
                        <input type="text" name="bookAuthor" required  lay-verify="required" placeholder="请输入书籍作者" autocomplete="off" class="layui-input">
                    </div></td>
                </tr>
                <tr>
                    <td><div class="layui-input-inline">
                        <input type="text" name="bookAuthor" required  lay-verify="required" placeholder="请输入书籍作者" autocomplete="off" class="layui-input">
                    </div></td>
                </tr>
                <tr>
                    <td><div class="layui-input-inline">
                        <input type="text" name="bookAuthor" required  lay-verify="required" placeholder="请输入书籍作者" autocomplete="off" class="layui-input">
                    </div></td>
                </tr>
                <tr>
                    <td><div class="layui-input-inline">
                        <input type="text" name="bookAuthor" required  lay-verify="required" placeholder="请输入书籍作者" autocomplete="off" class="layui-input">
                    </div></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

<!--    test-->
    <div class="layui-form-item">
        <div class="layui-input-inline">
            <table class="layui-table" >
                <thead>
                <tr>
                    <th>分组名单</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><div class="layui-input-inline">
                        <input type="text" name="bookAuthor" required  lay-verify="required" placeholder="请输入书籍作者" autocomplete="off" class="layui-input">
                    </div></td>
                </tr>
                <tr>
                    <td><div class="layui-input-inline">
                        <input type="text" name="bookAuthor" required  lay-verify="required" placeholder="请输入书籍作者" autocomplete="off" class="layui-input">
                    </div></td>
                </tr>
                <tr>
                    <td><div class="layui-input-inline">
                        <input type="text" name="bookAuthor" required  lay-verify="required" placeholder="请输入书籍作者" autocomplete="off" class="layui-input">
                    </div></td>
                </tr>
                <tr>
                    <td><div class="layui-input-inline">
                        <input type="text" name="bookAuthor" required  lay-verify="required" placeholder="请输入书籍作者" autocomplete="off" class="layui-input">
                    </div></td>
                </tr>
                <tr>
                    <td><div class="layui-input-inline">
                        <input type="text" name="bookAuthor" required  lay-verify="required" placeholder="请输入书籍作者" autocomplete="off" class="layui-input">
                    </div></td>
                </tr>
                <tr>
                    <td><div class="layui-input-inline">
                        <input type="text" name="bookAuthor" required  lay-verify="required" placeholder="请输入书籍作者" autocomplete="off" class="layui-input">
                    </div></td>
                </tr>
                <tr>
                    <td><div class="layui-input-inline">
                        <input type="text" name="bookAuthor" required  lay-verify="required" placeholder="请输入书籍作者" autocomplete="off" class="layui-input">
                    </div></td>
                </tr>
                <tr>
                    <td><div class="layui-input-inline">
                        <input type="text" name="bookAuthor" required  lay-verify="required" placeholder="请输入书籍作者" autocomplete="off" class="layui-input">
                    </div></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
<!--    test-->
    <input type="submit" value="分组" class="layui-btn">
</form>

<!--红队分组表格-->

    <div class="layui-form-item">
        <div class="layui-input-inline">
            <table class="layui-table" >
                <thead>
                <tr>
                    <th>分组名单</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><div class="layui-input-inline">
                        <input type="text" name="bookAuthor" required  lay-verify="required" placeholder="请输入书籍作者" autocomplete="off" class="layui-input">
                    </div></td>
                </tr>
                <tr>
                    <td><div class="layui-input-inline">
                        <input type="text" name="bookAuthor" required  lay-verify="required" placeholder="请输入书籍作者" autocomplete="off" class="layui-input">
                    </div></td>
                </tr>
                <tr>
                    <td><div class="layui-input-inline">
                        <input type="text" name="bookAuthor" required  lay-verify="required" placeholder="请输入书籍作者" autocomplete="off" class="layui-input">
                    </div></td>
                </tr>
                <tr>
                    <td><div class="layui-input-inline">
                        <input type="text" name="bookAuthor" required  lay-verify="required" placeholder="请输入书籍作者" autocomplete="off" class="layui-input">
                    </div></td>
                </tr>
                <tr>
                    <td><div class="layui-input-inline">
                        <input type="text" name="bookAuthor" required  lay-verify="required" placeholder="请输入书籍作者" autocomplete="off" class="layui-input">
                    </div></td>
                </tr>
                <tr>
                    <td><div class="layui-input-inline">
                        <input type="text" name="bookAuthor" required  lay-verify="required" placeholder="请输入书籍作者" autocomplete="off" class="layui-input">
                    </div></td>
                </tr>
                <tr>
                    <td><div class="layui-input-inline">
                        <input type="text" name="bookAuthor" required  lay-verify="required" placeholder="请输入书籍作者" autocomplete="off" class="layui-input">
                    </div></td>
                </tr>
                <tr>
                    <td><div class="layui-input-inline">
                        <input type="text" name="bookAuthor" required  lay-verify="required" placeholder="请输入书籍作者" autocomplete="off" class="layui-input">
                    </div></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <input type="submit" value="分组" class="layui-btn">
</form>

<script>
    //Demo
    layui.use('form', function(){
        var form = layui.form;
        //监听提交
        // form.on('submit(formDemo)', function(data){
        //     layer.msg(JSON.stringify(data.field));
        //     return false;
        // });
    });
</script>
<script type="text/javascript" charset="UTF-8">
    layui.use('laydate', function(){
        var laydate = layui.laydate;

        //执行一个laydate实例
        laydate.render({
            elem: '#date' //指定元素
        });
    });
</script>
</body>
</html>
